<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/users.css">

<link  href="/app-assets/vendors/css/cropper/cropper.css" rel="stylesheet">
<script src="/app-assets/vendors/js/cropper/cropper.js"></script>

<script src="/app-assets/vendors/js/extensions/jquery.touchSwipe.min.js"></script>

<!-- END: Page CSS-->
{{#each usuario}}
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">

          <div class="content-body">
              <!-- Data list view starts -->
              <section class="users-edit">
                  <div class="card">
                      <div class="card-content">
                          <div class="card-body">

                              <div class="tab-content">

                                <div id="user-profile">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="profile-header mb-2">
                                                <div class="relative">
                                                  <div style="margin-bottom: -15px;padding-right: 20px;" class="float-right">
                                                      <button type="button" id="editar_imagen_cover_btn"  class="btn btn-icon btn-icon rounded-circle btn-primary mr-1">
                                                          <i class="feather icon-edit-2"></i>
                                                      </button>
                                                      <button type="button" id="editar_perfil_btn"  class="btn btn-icon btn-icon rounded-circle btn-primary">
                                                          <i class="feather icon-settings"></i>
                                                      </button>
                                                  </div>
                                                    <div class="cover-container">
                                                        <img id="cover_image" class="img-fluid bg-cover rounded-0 w-100" src="{{#if imagen_cover}}{{imagen_cover}}{{else}}/img_profiles/cover_default.jpg{{/if}}" alt="{{nombre}}">
                                                        <input type="file" class="sr-only" id="input_cover" name="image" accept="image/*" hidden>
                                                    </div>
                                                    <div class="profile-img-container d-flex align-items-center justify-content-between">
                                                      <div class="float-left">
                                                        <img id="profile_image"  src="{{#if imagen_perfil}}{{imagen_perfil}}{{else}}/img_profiles/profile_default.jpg{{/if}}" class="rounded-circle img-border box-shadow-1 imagen_perfil" alt="Imágen de perfil">
                                                        <button style="margin-left: -20px;" type="button" id="editar_imagen_perfil_btn"  class="btn btn-icon btn-icon rounded-circle btn-primary mr-1">
                                                            <i class="feather icon-edit-2"></i>
                                                        </button>
                                                      </div>

                                                        <input type="file" class="sr-only" id="input_profile" name="image" accept="image/*" hidden>

                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end align-items-center profile-header-nav">
                                                    <nav class="navbar navbar-expand-sm w-100 pr-0">
                                                        <button class="navbar-toggler pr-0" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                            <span class="navbar-toggler-icon"><i class="feather icon-align-justify"></i></span>
                                                        </button>
                                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                            <ul class="navbar-nav justify-content-around w-75 ml-sm-auto">

                                                                <li class="nav-item px-sm-0">
                                                                    <a href="#" class="nav-link font-medium-1 btn btn-primary">Info Académica</a>
                                                                </li>
                                                                <li class="nav-item px-sm-0">
                                                                    <a href="#" class="nav-link font-medium-1 btn btn-primary">Zona de cobertura</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <section id="profile-info">
                                        <div class="row">
                                            <div class="col-lg-3 col-12">
                                                <div class="card">
                                                    <div class="card-header row">
                                                        <h4>{{nick}}</h4>

                                                            <i id="editar_bio_btn" class="feather icon-edit-2 btn btn-icon btn-icon rounded-circle btn-primary"></i>

                                                    </div>
                                                    <div class="card-body">
                                                        <p>{{bio}}</p>
                                                        <div class="mt-1">
                                                            <h6 class="mb-0">Fecha de ingreso:</h6>
                                                            <p>{{moment fecha_creacion lang="es" format="DD MMMM, YYYY"}}</p>
                                                        </div>
                                                        <div class="mt-1">
                                                            <h6 class="mb-0">Celular</h6>
                                                            <p>{{celular}}</p>
                                                        </div>
                                                        <div class="mt-1">
                                                            <h6 class="mb-0">Email:</h6>
                                                            <p>{{email}}</p>
                                                        </div>
                                                        <div class="mt-1">
                                                            <h6 class="mb-0">Categoria(s):</h6>
                                                            <p id ="user_cats">{{#each ../user_cats}} ●{{this}} {{/each}}</p>
                                                        </div>
                                                        <div class="mt-1">
                                                            <h6 class="mb-0">Modalidad(es):</h6>
                                                            {{#if virtual}} <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="fa fa-laptop"></i>Virtual</button> {{/if}}
                                                            {{#if presencial}} <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="feather icon-user"></i>Presencial</button> {{/if}}
                                                        </div>

                                                        <div class="mt-1">
                                                            <h6 class="mb-0">Idioma(s):</h6>
                                                            <p id ="user_langs">{{#each ../idiomas}} ●{{this}} {{/each}}</p>
                                                        </div>


                                                        <div class="mt-1">
                                                          <h6 class="mb-0">Social media:</h6>

                                                          {{#if facebook}} <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="feather icon-facebook"></i></button> {{/if}}

                                                          {{#if instagram}} <button type="button" class="btn btn-sm btn-icon btn-primary p-25"><i class="feather icon-instagram"></i></button>{{/if}}

                                                          {{#if twitter}} <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="feather icon-twitter"></i></button> {{/if}}

                                                          {{#if linkedin}} <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="feather icon-linkedin"></i></button> {{/if}}



                                                        </div>
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title">Suggested Pages</h4>
                                                    </div>
                                                    <div class="card-body suggested-block">
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/profile/pages/page-09.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>Rockose</p>
                                                                <span class="font-small-2">Company</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/profile/pages/page-08.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>The Devil's</p>
                                                                <span class="font-small-2">Clothing Store</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-1">
                                                                <img src="../../../app-assets/images/profile/pages/page-03.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>The Magician</p>
                                                                <span class="font-small-2">Public Figure</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/profile/pages/page-02.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>AC/DC</p>
                                                                <span class="font-small-2">Music</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/profile/pages/page-07.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>Eat Hard</p>
                                                                <span class="font-small-2">Restaurant / Bar</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/profile/pages/page-04.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>B4B</p>
                                                                <span class="font-small-2">Beauty Store</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/profile/pages/page-05.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>Kylie Jenner</p>
                                                                <span class="font-small-2">Public Figure</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/profile/pages/page-01.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>RDJ</p>
                                                                <span class="font-small-2">Actor</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/profile/pages/page-06.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <p>Taylor Swift</p>
                                                                <span class="font-small-2">Music</span>
                                                            </div>
                                                            <div class="ml-auto"><i class="feather icon-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4>Twitter Feeds</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="twitter-feed">
                                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                                <div class="avatar mr-50">
                                                                    <img src="../../../app-assets/images/portrait/small/avatar-s-12.jpg" alt="avtar img holder" height="35" width="35">
                                                                </div>
                                                                <div class="user-page-info">
                                                                    <p class="text-bold-600 mb-0">Tiana Vercetti</p>
                                                                    <small>@tiana59</small>
                                                                    <div class="badge badge-primary badge-pill badge-sm p-0">
                                                                        <i class="feather icon-check font-small-1"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="mb-0">I love cookie chupa chups sweet tart apple pie chocolate bar. Jelly-o oat cake chupa chups.</p>
                                                            <p class="text-primary">#js #vuejs</p>
                                                            <small>12 Dec 2018</small>
                                                        </div>
                                                        <div class="twitter-feed mt-2">
                                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                                <div class="avatar mr-50">
                                                                    <img src="../../../app-assets/images/portrait/small/avatar-s-12.jpg" alt="avtar img holder" height="35" width="35">
                                                                </div>
                                                                <div class="user-page-info">
                                                                    <p class="text-bold-600 mb-0">Tiana Vercetti</p>
                                                                    <small>@tiana59</small>
                                                                    <div class="badge badge-primary badge-pill badge-sm p-0">
                                                                        <i class="feather icon-check font-small-1"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="mb-0">Carrot cake cake gummies I love I love tiramisu. Biscuit marzipan cookie lemon drops.</p>
                                                            <p class="text-primary">#python</p>
                                                            <small>11 Dec 2018</small>
                                                        </div>
                                                        <div class="twitter-feed mt-2">
                                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                                <div class="avatar mr-50">
                                                                    <img src="../../../app-assets/images/portrait/small/avatar-s-12.jpg" alt="avtar img holder" height="35" width="35">
                                                                </div>
                                                                <div class="user-page-info">
                                                                    <p class="text-bold-600 mb-0">Tiana Vercetti</p>
                                                                    <small>@tiana59</small>
                                                                    <div class="badge badge-primary badge-pill badge-sm p-0">
                                                                        <i class="feather icon-check font-small-1"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="mb-0">I love cookie chupa chups sweet tart apple pie chocolate bar. Jelly-o oat cake chupa chups.</p>
                                                            <small>10 Dec 2018</small>
                                                        </div>
                                                        <div class="twitter-feed mt-2">
                                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                                <div class="avatar mr-50">
                                                                    <img src="../../../app-assets/images/portrait/small/avatar-s-12.jpg" alt="avtar img holder" height="35" width="35">
                                                                </div>
                                                                <div class="user-page-info">
                                                                    <p class="text-bold-600 mb-0">Tiana Vercetti</p>
                                                                    <small>@tiana59</small>
                                                                    <div class="badge badge-primary badge-pill badge-sm p-0">
                                                                        <i class="feather icon-check font-small-1"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="mb-0">Muffin candy caramels. I love caramels tiramisu jelly. Pie I love wafer. Chocolate cake lollipop tootsie roll cake.</p>
                                                            <p class="text-primary">#django #vuejs</p>
                                                            <small>9 Dec 018</small>
                                                        </div>
                                                    </div>
                                                </div>
                                              -->
                                            </div>
                                            <div class="col-lg-6 col-12">


                                                {{#each ../pubs_usuario}}

                                                <div style="margin-bottom: 0px !important"  class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-1">
                                                                <img src="{{imagen_perfil}}" alt="avtar img holder" height="45" width="45">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">{{nick}}</h6>
                                                                <span class="font-small-2">Publicado el {{moment fecha_publicacion lang="es" format="MM MMMM, YYYY"}}</span>
                                                            </div>
                                                            <div class="ml-auto user-like"><i class="feather icon-heart"></i></div>
                                                        </div>
                                                          <h3>{{titulo}}</h3>
                                                        <p>{{text_content}}</p>
                                                        <img class="img-fluid rounded-sm mb-2" src="{{imagen_publicacion}}" alt="avtar img holder">
                                                        <!--<div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="d-flex align-items-center">
                                                                <i class="feather icon-heart font-medium-2 mr-50"></i>
                                                                <span>276</span>
                                                            </div>
                                                            <div class="ml-2">
                                                                <ul class="list-unstyled users-list m-0  d-flex align-items-center">
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Lai Lewandowski" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Elicia Rieske" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Darcey Nooner" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Julee Rossignol" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-10.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Jeffrey Gerondale" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li class="d-inline-block pl-50">
                                                                        <span>+271 more</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <p class="ml-auto d-flex align-items-center">
                                                                <i class="feather icon-message-square font-medium-2 mr-50"></i>105
                                                            </p>
                                                        </div>-->

                                                        <div class="d-flex justify-content-start mb-1">
                                                            <div class="d-flex ">
                                                                <i class="feather icon-eye font-medium-2 mr-50"></i>
                                                                <span>{{visitas}} Visitas</span>
                                                            </div>
                                                            <p class="ml-auto d-flex align-items-center">
                                                                <button onclick="window.location.href = '/links/publicacion/{{id_publicacion}}'" type="button" class="btn btn-primary float-right">Leer</button>
                                                            </p>
                                                        </div>


                                                    </div>
                                                </div>


                                                {{else}}

                                                <div style="margin-bottom: 0px !important"  class="card">
                                                    <div class="card-body pb-0">

                                                        <img onclick="window.location.href = '/links/crear_publicacion'"  class=" cursor-pointer img-fluid rounded-sm mb-2" src="/primera_pub.jpg" alt="avtar img holder">
                                                        <!--<div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="d-flex align-items-center">
                                                                <i class="feather icon-heart font-medium-2 mr-50"></i>
                                                                <span>276</span>
                                                            </div>
                                                            <div class="ml-2">
                                                                <ul class="list-unstyled users-list m-0  d-flex align-items-center">
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Lai Lewandowski" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Elicia Rieske" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Darcey Nooner" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Julee Rossignol" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-10.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Jeffrey Gerondale" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li class="d-inline-block pl-50">
                                                                        <span>+271 more</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <p class="ml-auto d-flex align-items-center">
                                                                <i class="feather icon-message-square font-medium-2 mr-50"></i>105
                                                            </p>
                                                        </div>-->

                                                        <div class="d-flex justify-content-start mb-0">

                                                            <p class="ml-auto d-flex align-items-center">
                                                                <button onclick="window.location.href = '/links/crear_publicacion'" type="button" class="btn btn-primary float-right">Comenzar!</button>
                                                            </p>
                                                        </div>


                                                    </div>
                                                </div>


                                                {{/each}}


                                                {{#each ../pub_intro}}

                                                <div style="margin-bottom: 0px !important" class="card">
                                                    <div class="card-body ">
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-1">
                                                                <img src="{{imagen_perfil}}" alt="avtar img holder" height="45" width="45">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">{{nick}}</h6>
                                                                <span class="font-small-2">Publicado el {{moment fecha_publicacion lang="es" format="MM MMMM, YYYY"}}</span>
                                                            </div>
                                                            <div class="ml-auto user-like"><i class="feather icon-heart"></i></div>
                                                        </div>
                                                          <h3>{{titulo}}</h3>
                                                        <p>{{text_content}}</p>
                                                        <img class="img-fluid rounded-sm mb-2" src="{{imagen_publicacion}}" alt="avtar img holder">
                                                        <!--<div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="d-flex align-items-center">
                                                                <i class="feather icon-heart font-medium-2 mr-50"></i>
                                                                <span>276</span>
                                                            </div>
                                                            <div class="ml-2">
                                                                <ul class="list-unstyled users-list m-0  d-flex align-items-center">
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Lai Lewandowski" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Elicia Rieske" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Darcey Nooner" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Julee Rossignol" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-10.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Jeffrey Gerondale" class="avatar pull-up">
                                                                        <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" height="30" width="30">
                                                                    </li>
                                                                    <li class="d-inline-block pl-50">
                                                                        <span>+271 more</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <p class="ml-auto d-flex align-items-center">
                                                                <i class="feather icon-message-square font-medium-2 mr-50"></i>105
                                                            </p>
                                                        </div>-->

                                                        <div class="d-flex justify-content-start mb-1">
                                                            <div class="d-flex ">
                                                                <i class="feather icon-eye font-medium-2 mr-50"></i>
                                                                <span>{{visitas}} Visitas</span>
                                                            </div>
                                                            <p class="ml-auto d-flex align-items-center">
                                                                <button onclick="window.location.href = '/links/publicacion/{{id_publicacion}}'" type="button" class="btn btn-primary float-right">Leer</button>
                                                            </p>
                                                        </div>


                                                    </div>
                                                </div>


                                                {{/each}}


                                            </div>
                                            <div class="col-lg-3 col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4>Galería de fotos</h4>
                                                    </div>
                                                    <div class="card-body">
                                                      <input type="file" class="d-none" id="input_gallery" name="image" accept="image/*" hidden>
                                                        <div id="galeria" class="row">

                                                          <div class="col-md-4 col-6 user-latest-img">
                                                              <button id="agregar_foto_galeria_btn"  type="button" class="btn btn-primary btn-icon ml-auto user-latest-img"><i class="feather icon-plus"></i></button>
                                                          </div>

                                                            {{#each ../fotos}}
                                                            <div class="col-md-4 col-6 user-latest-img">
                                                                <img src="{{foto}}" data_id="{{id_foto}}" class="img-fluid mb-1 rounded-sm foto_gal" alt="avtar img holder">
                                                            </div>
                                                            {{else}}


                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="card">
                                                    <div class="card-header d-flex justify-content-between">
                                                        <h4>Suggestions</h4>
                                                        <i class="feather icon-more-horizontal cursor-pointer"></i>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-5.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Carissa Dolle</h6>
                                                                <span class="font-small-2">6 Mutual Friends</span>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-user-plus"></i></button>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Liliana Pecor</h6>
                                                                <span class="font-small-2">3 Mutual Friends</span>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-user-plus"></i></button>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-7.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Isidra Strunk</h6>
                                                                <span class="font-small-2">2 Mutual Friends</span>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-user-plus"></i></button>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-8.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Gerald Licea</h6>
                                                                <span class="font-small-2">1 Mutual Friends</span>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-user-plus"></i></button>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-9.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Kelle Herrick</h6>
                                                                <span class="font-small-2">1 Mutual Friends</span>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-user-plus"></i></button>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-10.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Cesar Lee</h6>
                                                                <span class="font-small-2">1 Mutual Friends</span>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-user-plus"></i></button>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-11.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">John Doe</h6>
                                                                <span class="font-small-2">1 Mutual Friends</span>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-user-plus"></i></button>
                                                        </div>
                                                        <div class="d-flex justify-content-start align-items-center mb-2">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-12.jpg" alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Tonia Seabold</h6>
                                                                <span class="font-small-2">1 Mutual Friends</span>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-user-plus"></i></button>
                                                        </div>
                                                        <button type="button" class="btn btn-primary w-100 mt-1"><i class="feather icon-plus mr-25"></i>Load More</button>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4>Polls</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <h6>Who is the best actor in Marvel Cinematic Universe?</h6>
                                                        <div class="polls-info mt-1">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="vs-radio-con vs-radio-primary">
                                                                    <input type="radio" name="vueradio" value="false">
                                                                    <span class="vs-radio">
                                                                        <span class="vs-radio--border"></span>
                                                                        <span class="vs-radio--circle"></span>
                                                                    </span>
                                                                    <span class="">RDJ</span>
                                                                </div>
                                                                <div class="text-right">58%</div>
                                                            </div>
                                                            <div class="progress progress-bar-primary my-50">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="58" aria-valuemin="58" aria-valuemax="100" style="width:58%"></div>
                                                            </div>
                                                            <ul class="list-unstyled users-list d-flex">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Tonia Seabold" class="avatar pull-up ml-0">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-12.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Carissa Dolle" class="avatar pull-up">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Kelle Herrick" class="avatar pull-up">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Len Bregantini" class="avatar pull-up">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-10.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="John Doe" class="avatar pull-up">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-11.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Tonia Seabold" class="avatar pull-up">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-12.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Dirk Fornili" class="avatar pull-up">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-2.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="polls-info mt-1">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="vs-radio-con vs-radio-primary">
                                                                    <input type="radio" name="vueradio" value="false">
                                                                    <span class="vs-radio">
                                                                        <span class="vs-radio--border"></span>
                                                                        <span class="vs-radio--circle"></span>
                                                                    </span>
                                                                    <span class="">Chris Hemswort</span>
                                                                </div>
                                                                <div class="text-right">16%</div>
                                                            </div>
                                                            <div class="progress progress-bar-primary my-50">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="16" aria-valuemin="16" aria-valuemax="100" style="width:16%"></div>
                                                            </div>
                                                            <ul class="list-unstyled users-list d-flex">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Liliana Pecor" class="avatar pull-up ml-0">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Kasandra NaleVanko" class="avatar pull-up">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-1.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="polls-info mt-1">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="vs-radio-con vs-radio-primary">
                                                                    <input type="radio" name="vueradio" value="false">
                                                                    <span class="vs-radio">
                                                                        <span class="vs-radio--border"></span>
                                                                        <span class="vs-radio--circle"></span>
                                                                    </span>
                                                                    <span class="">Mark Ruffalo</span>
                                                                </div>
                                                                <div class="text-right">8%</div>
                                                            </div>
                                                            <div class="progress progress-bar-primary my-50">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="8" aria-valuemin="8" aria-valuemax="100" style="width:8%"></div>
                                                            </div>
                                                            <ul class="list-unstyled users-list d-flex">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Lorelei Lacsamana" class="avatar pull-up ml-0">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-4.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="polls-info mt-1">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="vs-radio-con vs-radio-primary">
                                                                    <input type="radio" name="vueradio" value="false">
                                                                    <span class="vs-radio">
                                                                        <span class="vs-radio--border"></span>
                                                                        <span class="vs-radio--circle"></span>
                                                                    </span>
                                                                    <span class="">Chris Evans</span>
                                                                </div>
                                                                <div class="text-right">16%</div>
                                                            </div>
                                                            <div class="progress progress-bar-primary my-50">
                                                                <div class="progress-bar" role="progressbar" aria-valuenow="16" aria-valuemin="16" aria-valuemax="100" style="width:16%"></div>
                                                            </div>
                                                            <ul class="list-unstyled users-list d-flex">
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="JeanieBulgrin" class="avatar pull-up ml-0">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Graig Muckey" class="avatar pull-up">
                                                                    <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-3.jpg" alt="Avatar" height="30" width="30">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                              -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button type="button" class="btn btn-primary block-element mb-1">Cargar más..</button>
                                            </div>
                                        </div>
                                    </section>
                                </div>


                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <!-- Data list view end -->

          </div>
        </div>
    </div>
    <!-- END: Content-->

{{/each}}


<div class="modal fade" id="cortar-imagen-cover-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Ajustando imágen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div style="max-height: 80vh; max-width:100vh;" class="img-container">
              <img id="image_cover" src="{{#if imagen_cover}}{{imagen_cover}}{{else}}/img_profiles/cover_default.jpg{{/if}}" class="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelal</button>
            <button type="button" class="btn btn-primary" id="crop_cover">Cortar</button>
          </div>
        </div>
      </div>
    </div>


    <div style="display: none; position: fixed;  left: 0; top: 0; width: 100%; height: 100%;  overflow: auto;  background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.9); " id="show-image-modal" class="modal text-center">
      <i data-dismiss="modal" class="fa fa-close close font-large-2 text-white"></i>
    <img id="image-on-modal" style="margin: auto; margin: 0;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);max-width: 100vh; max-height: 100vh" src="" class="col">

    <button style=" margin: 0;position: absolute;left: 50%;-ms-transform: translateX(-50%);transform: translateX(-50%); bottom:0px" type="button" id="eliminar_foto" class="btn btn btn-primary">
      <span aria-hidden="true">eliminar</span>
    </button>
    <i id="prev_foto" style="position:absolute;top:50%;left:0px" class=" rgba-white-strong fa fa-chevron-left font-large-2 text-brigth"></i>
    <i id="next_foto" style="position:absolute;top:50%;right: 0px"  class=" rgba-white-strong fa fa-chevron-right font-large-2 text-brigth"></i>
  <div id="caption"></div>
</div>



    <div class="modal fade" id="cortar-imagen-perfil-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Ajustando imágen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div style="max-height: 80vh; max-width:100vh;" class="img-container">
                  <img id="image_profile" src="{{#if imagen_perfil}}{{imagen_perfil}}{{else}}/img_profiles/profile_default.jpg{{/if}}" class="">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelal</button>
                <button type="button" class="btn btn-primary" id="crop_profile">Cortar</button>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="cortar-imagen-galeria-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" >Ajustando imágen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div style="max-height: 80vh; max-width:100vh;" class="img-container">
                      <img id="image_gallery" src="" class="">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelal</button>
                    <button type="button" class="btn btn-primary" id="crop_gallery">Cortar</button>
                  </div>
                </div>
              </div>
            </div>



<script>



function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#foto').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}


    var $modal_cover = $('#cortar-imagen-cover-modal');
    var $modal_profile = $('#cortar-imagen-perfil-modal');
    var $modal_gallery = $('#cortar-imagen-galeria-modal');
    var $modal_foto = $('#show-image-modal');

    var cover_image = document.getElementById('cover_image');
    var profile_image = document.getElementById('profile_image');
    //var gallery_image = document.getElementById('gallery_image');
    var image_cover = document.getElementById('image_cover');
    var image_profile = document.getElementById('image_profile');
    var image_gallery = document.getElementById('image_gallery');
    var input_cover = document.getElementById('input_cover');
    var input_profile = document.getElementById('input_profile');
    var input_gallery = document.getElementById('input_gallery');

    var imageClicked;

  var cropper;

$(document).ready(function(e) {



  $("#show-image-modal").swipe( {
    swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
    //  $(this).text("You swiped " + direction );
      if(direction=="left"){
        imageClicked.closest('.user-latest-img').prev().find('img').trigger('click');

      }else{

        imageClicked.closest('.user-latest-img').next().find('img').trigger('click');

      }
    }
  });

  $("#image-on-modal").swipe( {
    swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
    //  $(this).text("You swiped " + direction );
      if(direction=="left"){
        imageClicked.closest('.user-latest-img').prev().find('img').trigger('click');

      }else{

        imageClicked.closest('.user-latest-img').next().find('img').trigger('click');

      }
    }
  });



$("#eliminar_foto").click(function () {


  var data2send= {"name":"data_id","value":imageClicked.attr('data_id')}
  $.ajax('/links/eliminar_imagen_galeria', {
    method: 'POST',
    data: data2send,
    success: function (response) {
        $modal_gallery.modal('hide');
        if(response.status == 1){
          Swal.fire({
            title: "Foto eliminada",
            text: "",
            type: "success",
            confirmButtonClass: 'btn btn-primary',
            buttonsStyling: false,
          });


          $('*[data_id=\"'+imageClicked.attr('data_id')+'\"]').closest('div').remove();


          //$(this).closest('.li').remove();


          //console.log(response.q_res.insertId);

          setTimeout(function(){
            //$("#galeria").append("<div class=\"col-md-4 col-6 user-latest-img\"><img src=\""+response.path+"\" data_id=\""+response.q_res.insertId+"\" class=\"img-fluid mb-1 rounded-sm foto_gal\" alt=\"avtar img holder\"></div>");

            $(".modal-backdrop").hide();
          }, 1000);


        }
    //  $alert.show().addClass('alert-success').text('Upload success');
    },

    error: function () {
      //galeria.src = initialAvatarURL;
    //  $alert.show().addClass('alert-warning').text('Upload error');
    },

    complete: function () {


    //  $progress.hide();
    },
  });

});


$(".foto_gal").click(function () {
  imageClicked = $(this);
    $("#image-on-modal").attr("src", imageClicked.attr('src'));
    $("#image-on-modal").attr("data_id", imageClicked.attr('data_id'));
    //$("#image-on-modal").attr("src", imageClicked.attr('src'));
    $modal_foto.modal('show');
});

$("#next_foto").click(function () {
//console.log("next");
imageClicked.closest('.user-latest-img').next().find('img').trigger('click');

});

$("#prev_foto").click(function () {
imageClicked.closest('.user-latest-img').prev().find('img').trigger('click');
});

  $("#crop_cover").click(function () {

    if (cropper) {
      canvas = cropper.getCroppedCanvas({
        width: 2000,

        imageSmoothingEnabled: true,
        imageSmoothingQuality: 'low'
      });
      initialAvatarURL = cover_image.src;
      cover_image.src = canvas.toDataURL();


      canvas.toBlob(function (blob) {
        var formData = new FormData();

        formData.append('coverimage', blob, 'cover.jpg');
        $.ajax('/links/actualizar_imagen_cover', {
          method: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {

              $modal_cover.modal('hide');
              if(response.status == 1){
                Swal.fire({
                  title: "Info guardada",
                  text: "",
                  type: "success",
                  confirmButtonClass: 'btn btn-primary',
                  buttonsStyling: false,
                });



              }
          //  $alert.show().addClass('alert-success').text('Upload success');
          },

          error: function () {
            cover.src = initialAvatarURL;
          //  $alert.show().addClass('alert-warning').text('Upload error');
          },

          complete: function () {


          //  $progress.hide();
          },
        });
      });


    }
  });


  $("#crop_profile").click(function () {

    if (cropper) {
      canvas = cropper.getCroppedCanvas({
        width: 500,

        imageSmoothingEnabled: true,
        imageSmoothingQuality: 'low'
      });
      initialAvatarURL = profile_image.src;
      profile_image.src = canvas.toDataURL();


      canvas.toBlob(function (blob) {
        var formData = new FormData();

        formData.append('profileimage', blob, 'cover.jpg');
        $.ajax('/links/actualizar_imagen_perfil', {
          method: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
              $modal_profile.modal('hide');
              if(response.status == 1){
                Swal.fire({
                  title: "Info guardada",
                  text: "",
                  type: "success",
                  confirmButtonClass: 'btn btn-primary',
                  buttonsStyling: false,
                });



              }
          //  $alert.show().addClass('alert-success').text('Upload success');
          },

          error: function () {
            cover.src = initialAvatarURL;
          //  $alert.show().addClass('alert-warning').text('Upload error');
          },

          complete: function () {


          //  $progress.hide();
          },
        });
      });


    }
  });


  $("#crop_gallery").click(function () {

    if (cropper) {
      canvas = cropper.getCroppedCanvas({
        width: 1500,
        imageSmoothingEnabled: true,
        imageSmoothingQuality: 'low'
      });
      //initialAvatarURL = gallery_image.src;
      //gallery_image.src = canvas.toDataURL();

      canvas.toBlob(function (blob) {
        var formData = new FormData();

        formData.append('galleryimage', blob, 'gallery.jpg');
        $.ajax('/links/agregar_imagen_galeria', {
          method: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
              $modal_gallery.modal('hide');
              if(response.status == 1){
                Swal.fire({
                  title: "Info guardada",
                  text: "",
                  type: "success",
                  confirmButtonClass: 'btn btn-primary',
                  buttonsStyling: false,
                });

                console.log(response.q_res.insertId);

                setTimeout(function(){

                  $("#galeria").append("<div class=\"col-md-4 col-6 user-latest-img\"><img src=\""+response.path+"\" data_id=\""+response.q_res.insertId+"\" class=\"img-fluid mb-1 rounded-sm foto_gal\" alt=\"avtar img holder\"></div>");

                  $(".foto_gal").click(function () {
                    imageClicked = $(this);
                      $("#image-on-modal").attr("src", imageClicked.attr('src'));
                      $modal_foto.modal('show');
                  });
                }, 1000);




              }
          //  $alert.show().addClass('alert-success').text('Upload success');
          },

          error: function () {
            //galeria.src = initialAvatarURL;
          //  $alert.show().addClass('alert-warning').text('Upload error');
          },

          complete: function () {


          //  $progress.hide();
          },
        });
      });


    }
  });




  $("#editar_imagen_cover_btn").click(function () {

      $('#input_cover').trigger('click');
  });



  $("#editar_imagen_perfil_btn").click(function () {

      $('#input_profile').trigger('click');
  });


  $("#agregar_foto_galeria_btn").click(function () {


    if($("#galeria img").length >= 8){

      Swal.fire({
        title: "Máximo 8 fotos",
        text: "",
        type: "warning",
        confirmButtonClass: 'btn btn-primary',
        buttonsStyling: false,
      });

    }else{
      console.log("menor a 8");
      $('#input_gallery').trigger('click');
    }



  });

  $("#editar_perfil_btn").click(function () {

       window.location.href = '/links/perfil_usuario';
  });

  $("#editar_bio_btn").click(function () {

       window.location.href = '/links/perfil_usuario';
  });




  $("#input_cover").change(function (e) {

    var files = e.target.files;
    var done = function (url) {
      input_cover.value = '';
      image_cover.src = url;
      //$alert.hide();
      $modal_cover.modal('show');
    };
    var reader;
    var file;
    var url;

    if (files && files.length > 0) {
      file = files[0];

      if (URL) {
        done(URL.createObjectURL(file));
      } else if (FileReader) {
        reader = new FileReader();
        reader.onload = function (e) {
          done(reader.result);
        };
        reader.readAsDataURL(file);
      }
    }


  });

  $("#input_profile").change(function (e) {

    var files = e.target.files;
    var done = function (url) {
      input_profile.value = '';
      image_profile.src = url;
      //$alert.hide();
      $modal_profile.modal('show');
    };
    var reader;
    var file;
    var url;

    if (files && files.length > 0) {
      file = files[0];

      if (URL) {
        done(URL.createObjectURL(file));
      } else if (FileReader) {
        reader = new FileReader();
        reader.onload = function (e) {
          done(reader.result);
        };
        reader.readAsDataURL(file);
      }
    }


  });


  $("#input_gallery").change(function (e) {

    var files = e.target.files;
    var done = function (url) {
      input_gallery.value = '';
      image_gallery.src = url;
      //$alert.hide();
      $modal_gallery.modal('show');
    };
    var reader;
    var file;
    var url;

    if (files && files.length > 0) {
      file = files[0];

      if (URL) {
        done(URL.createObjectURL(file));
      } else if (FileReader) {
        reader = new FileReader();
        reader.onload = function (e) {
          done(reader.result);
        };
        reader.readAsDataURL(file);
      }
    }


  });



  $modal_cover.on('shown.bs.modal', function () {
    cropper = new Cropper(image_cover, {
      aspectRatio: 20 / 8,
      viewMode: 1,
    });
  }).on('hidden.bs.modal', function () {
    cropper.destroy();
    cropper = null;
  });

  $modal_profile.on('shown.bs.modal', function () {
    cropper = new Cropper(image_profile, {
      aspectRatio: 5 / 5,
      viewMode: 1,
    });
  }).on('hidden.bs.modal', function () {
    cropper.destroy();
    cropper = null;
  });


  $modal_gallery.on('shown.bs.modal', function () {
    cropper = new Cropper(image_gallery, {
      aspectRatio: 10 / 10,
      viewMode: 1,
    });
  }).on('hidden.bs.modal', function () {
    cropper.destroy();
    cropper = null;
  });





  $("#img_perfil").change(function() {
    readURL(this);
  });

    $("#estado").val({{estado}});
    $("#rol").val({{rol}});

    $( ".cambiar_imagen" ).click(function(e) {
        e.preventDefault();
        $( "#img_perfil" ).click()

    });


});

</script>
