
<link rel="stylesheet" type="text/css" href="/app-assets/css/maps/jquery.ui.all.css">
{{#if user.id}}

  <div class="app-content content">
    <div class="content-wrapper">

{{/if}}


<div style="{{#if user.id}}{{else}}padding-top:90px; padding-bottom: 100px{{/if}} position:relative" class="row mb-5">
  <div class="col-12 {{#if user.id}}{{else}}pl-3 pt-1{{/if}}">
    <div class="text-bold-600 font-medium-2 col-12 mb-1 ">
      OPCIONES DE BÚSQUEDA:
    </div>

    <div class=" col-12 ">
      <form method="GET" style="" class="row">

        <fieldset class="form-group position-relative has-icon-left mb-0 col-6 pl-0 pr-1">
          <select class="form-control js-example-programmatic" name="categoria" id="categoria" required>
            <option disabled value="" selected="selected">Categoría... </option>
            {{#each categorias}}
              <option value="{{id}}">{{nombre}}</option>
            {{/each}}
          </select>
        </fieldset>

        <fieldset class="form-group position-relative has-icon-left mb-0 col-3 pl-0 pr-1">
          <select class="form-control js-example-programmatic" name="modalidad" id="modalidad" required>
            <option disabled value="" selected="selected">¿Presencial o virtual?</option>
            <option value="1">Presencial</option>
            <option value="2">Virtual</option>
            <option value="0">Ambos</option>
          </select>
        </fieldset>




        <fieldset class="form-group position-relative has-icon-left mb-0 col-3 pl-0 pr-1">
            <button style=""  type="submit" class="btn btn-primary full-width" data-dismiss="modal">Buscar</button>
        </fieldset>


      </form>
    </div>

    <div class="pt-3 text-bold-600 font-medium-2 col-12 mb-0 text-center ">
      RESTULTADOS:
    </div>
    <div class=" col-12 mt-2 row">
      {{#each usuarios}}
    <div class=" col mt-1">

      <div class="col-xl-12 col-md-12 col-sm-12 profile-card-1 ">
        <div class="row bg-white p-2">
          <div class="col text-center">
            <div class="m-0 p-0">
              <h4>{{nick}}</h4>
              <p class="">{{bio}}</p>
            </div>
            <div class="avatar avatar-xl ">
              <img class="img-fluid" src="{{imagen_perfil}}" alt="img placeholder">
            </div>
            <div class="row">
              <button onclick="window.location.href = '/links/ver_perfil/{{id}}'" class="btn gradient-light-primary waves-effect waves-light col">Ver</button>
            </div>
            <hr class="my-1 ">
            <div class="d-flex justify-content-between">
              <div class="float-left">
                <i class="feather icon-star text-warning mr-50"></i> 4.9
              </div>
              <div class="float-right">
                <i class="feather icon-home text-primary mr-50"></i>
                <i class="feather icon-video text-primary mr-50"></i>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
    {{/each}}


    </div>



    </div>



<!--
  <div style="height:100%; position: fixed;right: 0px;{{#if user.id}}width: calc(60% - 60px);height: calc(100% - 100px);{{else}}{{/if}}     " class="col-7">
    <p style="" class="text-bold-600 font-medium-2 col-12 mb-1 text-center">MAPA</p>

    <div style="position:relative;height:calc(100% - 10px);top:0px;" id="map-canvas"></div>
  </div>

  -->

</div>




{{#if user.id}}
  </div>
  </div>

{{/if}}


<script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDj4sAkJx04uba9l2UZYxzq17PflYhqXOQ"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>



<script>
let searchParams = new URLSearchParams(window.location.search)

if(searchParams.has('categoria')){
  categoria = searchParams.get('categoria');
    $("#categoria").val(categoria).trigger("change");
}

if(searchParams.has('modalidad')){
  modalidad = searchParams.get('modalidad');

  $("#modalidad").val(modalidad).trigger("change");

}


$("#virtual").change(function() {
    if(this.checked) {
      $("#virtual").prop('checked', true);
      $("#virtual").val(1);
    }else{

      $("#virtual").prop('checked', false);
      $("#virtual").val(0);
    }

});


$("#presencial").change(function() {
    if(this.checked) {
      $("#presencial").prop('checked', true);
      $("#presencial").val(1);
      $('#menu-cobertura').show();
    }else{

      $("#presencial").prop('checked', false);
      $("#presencial").val(0);
      $('#menu-cobertura').hide();
    }

});





</script>
